<div class="m-subnav">
    <a class="m-subnav-icon" href="/" aria-label="홈">
        <img src="/static/images/mario/icon_home.png" alt="">
    </a>
    <div class="m-subnav-col">
        <span>한글탑 13 - 18 부스</span>
        <strong>{{ subnav_state | default('') }}</strong>
    </div>
    <div class="m-subnav-col right">
        <span>슈퍼 마시오</span>
        <a href="/" style="color:var(--m-ink);text-decoration:none"><strong>홈으로</strong></a>
    </div>
    <span class="m-subnav-icon"><img src="/static/images/mario/icon_star.png" alt=""></span>
</div>
