{% extends "base_mario.html" %}

{% block title %}슈퍼 마시오{% endblock %}

{% block content %}
<section class="m-card home-card">
    <img class="home-logo" src="/static/images/mario/logo.png" alt="슈퍼 마시오">
    <p class="home-welcome">
        슈퍼 마시오에 오신 것을 환영합니다.<br>
        이용하실 방식을 선택해주세요.
    </p>
    <div class="home-actions">
        <a class="m-btn" href="/table-select">
            <span class="m-btn-title">테이블 선택하기</span>
            <span class="m-btn-sub">착석 후 선택해주세요</span>
        </a>
        <a class="m-btn" href="/waiting">
            <span class="m-btn-title">웨이팅 등록하기</span>
        </a>
    </div>
</section>
{% endblock %}
